[submodule "NotificationService"]
	path = NotificationService
	url = git@github.com:Tudor-Gavriliuc/NotificationService.git
[submodule "PAD-Sharing-Service"]
	path = PAD-Sharing-Service
	url = https://github.com/qopas/PAD-Sharing-Service.git
[submodule "PAD_CheckIn_Service"]
	path = PAD_CheckIn_Service
	url = https://github.com/D4N1ELL/PAD_CheckIn_Service.git
[submodule "PAD-Fund-Raising-Service"]
	path = PAD-Fund-Raising-Service
	url = https://github.com/qopas/PAD-Fund-Raising-Service

