[submodule "NotificationService"]
	path = NotificationService
	url = git@github.com:Tudor-Gavriliuc/NotificationService.git
[submodule "UserManagementService"]
	path = UserManagementService
	url = git@github.com:Tudor-Gavriliuc/UserManagementService.git
[submodule "PAD-Sharing-Service"]
	path = PAD-Sharing-Service
	url = https://github.com/qopas/PAD-Sharing-Service.git
[submodule "PAD_CheckIn_Service"]
	path = PAD_CheckIn_Service
	url = https://github.com/D4N1ELL/PAD_CheckIn_Service.git
[submodule "PAD-FAFCab_Booking_Service"]
	path = PAD-FAFCab_Booking_Service
	url = https://github.com/D4N1ELL/PAD-FAFCab_Booking_Service.git
[submodule "PAD-Fund-Raising-Service"]
	path = PAD-Fund-Raising-Service
	url = https://github.com/qopas/PAD-Fund-Raising-Service
[submodule "FAF-LostFound-Service"]
	path = FAF-LostFound-Service
	url = https://github.com/dariabrianna/FAF-LostFound-Service.git
[submodule "Budgeting_Service"]
	path = Budgeting_Service
	url = https://github.com/dariabrianna/Budgeting_Service.git
[submodule "CommunicationService"]
	path = CommunicationService
	url = git@github.com:AnaCalugareanu/Communication-Service.git
[submodule "TeaManagementService"]
	path = TeaManagementService
	url = git@github.com:AnaCalugareanu/Tea-Management-Service.git
[submodule "PAD-Gateway"]
	path = PAD-Gateway
	url = https://github.com/qopas/PAD-Gateway
[submodule "PAD-Service-Discovery"]
	path = PAD-Service-Discovery
	url = https://github.com/qopas/PAD-Service-Discovery
